<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bird Index</title>
</head>
<body>
  <h2>Welcome to the Bird Index</h2>
  <div>
    <a href="/birds/new">New Bird</a>
  </div>
  <% for (let i = 0; i < birds.length; i++) { %>
    <div>
      <h4><%= birds[i].name %></h4>
      <a href="/birds/<%= birds[i]._id %>">See Profile</a> | 
      <a href="/birds/<%= birds[i]._id %>/edit">Edit</a> |
      <form action="/birds/<%= birds[i]._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  <% } %>
</body>
</html>