<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Bird</title>
</head>
<body>
  <h2>Create a New Entry</h2>

  <div class="form">
    <form action="/birds" method="POST">
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="color">Color: </label>
        <input type="text" id="color" name="color">
      </div>
      <div>
        <label for="location">Location Seen: </label>
        <input type="text" id="location" name="location">
      </div>
      <div>
        <label for="date">Date Seen: </label>
        <input type="text" id="date" name="date">
      </div>
      <div>
        <label for="image">Image URL: </label>
        <input type="text" name="image" id="image">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
</body>
</html>